.landing-background
  .row
    .large-8.columns
      %h2
        Veille technologique et formations pour vos équipes
      %h5
        Productivité, TDD, Pair programming, ...
      %button.round Start

.row
  .large-4.columns
    %h3
      Notre équipe
    %p
      Blablabalablablablablablabla
  .large-4.columns
    %h3
      Nos vidéos
    %p
      Blablabalablablablablablabla
  .large-4.columns
    %h3
      Nos formations
    %p
      Blablabalablablablablablabla
