- Video.all.each do |video|
  .row
    .small-12.columns
      %h4
        = link_to video.title, video_path(video)
  .row
    .small-4.columns
      .flex-video.vimeo.widescreen
        %iframe{:src => video.url, :color => "ffffff", :width => "168", :height => "94", :frameborder => "0"}
    .small-8.columns
      %p #{video.description}
  .row
    .small-8.columns.small-offset-4
      = render partial: 'videos/legend', locals: {video: video}