header {
    background: none repeat scroll 0 0 #e0615e;
    height: 6.5em;
    margin-top: 0;
    margin-bottom: 2em;
    padding-top: 1em;
}

header a,h1{
  color: #f6edd9;
  font-weight: 700;
}

header a:hover {
  text-decoration: underline;
}

.menu {
  margin-top: 2em;
}

.rating {
  font-size: 1.2em;
}

.photo img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 4px #000000;
    margin-top: 0.2em;
    width: 100px;
}

.member {
  margin-bottom: 1.5em;
}

.landing-background {
  margin: 2em 0em;
  padding: 2em 0 2em 0;
  background-image: url('wavegrid.png');
}