nav {
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #E2DFDF;
  margin-bottom: 3rem;
}

.header {
    background: none repeat scroll 0 0 #e0615e;
    height: 6.5em;
    margin-top: 0;
    padding-top: 1em;
}

.header .logo h2 a {
    color: #f6edd9;
    font-weight: 700;
}

.navigation {
    margin-bottom: 0;
    margin-top: 2em;
    text-align: right;
}

.navigation a {
    color: #FFFFFF !important;
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    padding: 0.4em 1em;
}

.rating {
  font-size: 1.5em;
}


.landing-background {
  margin-top: 2em;
  padding: 2em 0 2em 0;
  background-image: url('wavegrid.png');
}

.landing-background h3 {
  font-family: "Open Sans",sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}