.header.hide-for-small
  .row
    .large-8.columns.logo
      %h2
        %a Eloquent Feed
    .large-4.columns
      %ul.inline-list
        %li= link_to "Videos", home_path
        - if signed_in?
          %li= link_to t('.sign_out'), sign_out_path, :method => :delete
        - else
          %li= link_to t('.sign_in'), sign_in_path
